---
layout: default
---
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

<h2 class="text-center season-heading py-3">Season 2</h2>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% assign p = site.posts | where:"season", 2 %}
      {%- include list.html -%}
    </div>
  </div>
</div>

<h2 class="text-center season-heading py-3">Season 1</h2>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% assign p = site.posts | where:"season", 1 %}
      {%- include list.html -%}
    </div>
  </div>
</div>
